<div class="crn-body">
		<div class="crn-grad col-xs-12"></div>
		<div class="crn-logo--container col-xs-12">
    		<div class="crn-logo">
        		    <img src="img/logo-oxiteno.png">
    		</div>
		</div>
		<div class="crn-header">
            <h1 class="title component-holder fs-24" xattr-position="h1 text-center" xattr-type="h1" data-component="crn-text-component" id="crn-text-component-307023">{{"nameProject" | translate}}<span class="crn-nameProject"> {{"projeto" | translate}}</span></h1>
        </div>

		<div class="crn-login col-xs-12">
            <form class="form-validation crn-form-login" autocomplete="off" name="form" role="form">
				<input class="crn-place--authentication" type="text" autocomplete="username" autocorrect="off" autocapitalize="none" placeholder="{{'Login.view.Username' | translate}}" ng-model="vars.username"><br>
				<input class="crn-place--authentication" autocomplete="current-password" type="password" placeholder="{{'Login.view.Password' | translate}}" ng-model="vars.password"><br>
				<input class="crn-place" type="button" value="Login" ng-click="cronapi.client('js.blockly.auth.Login.login').run(vars.username, vars.password, null)" data-component="crn-button" id="crn-button-445347" xattr-fullsize="button-full" xattr-theme="button-positive" ng-disabled="form.$invalid || vm.dataLoading">
		    </form>
		</div>
</div>