{
  "app": {
    "guid": "5fa350ea-dab6-4e0b-9e13-744325ed38ad"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null
  },
  "security": {
    "token": "NWZhMzUwZWEtZGFiNi00ZTBiLTllMTMtNzQ0MzI1ZWQzOGFk",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}