/* template 1 */
a {
    color: #265280;
}
/*login*/

.bg {
    background: #fff;
    width: 100%;
    height: 100%;
}
.bg-form {
    background: #97C93D;

}
.login-view {
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: #97C93D;
    padding: 40px 30px 40px 30px;
    border-radius: 3px;
}
.k-button:focus, .k-button {
    text-decoration: none;
    outline: 0;
    background-color: #265280;
    color: #fff;
}
.btn-default {
    text-decoration: none;
    outline: 0;
    background-color: #97C93D!important;
    color: #fff;
}
label.text-user {
    color: #fff;
}
label.text-senha {
    color: #fff;
}
 .k-textbox {
    border-color: #fff;
}
button.btn-login {
    color: #97C93D !important;
    background: #fff !important;
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    transition: 200ms;
    width: 190px;
    font-weight: 500;
}
/*FIM login*/
label {
    color: #265280;
    font-weight: 600;
    font-size: 12px;
}
/*Menu navbar e navbar-default */
.dropdown {
    position: relative;
}
.dropdown-menu>li>a {
    color: #002E5D!important;
}
.navbar-default .navbar-collapse {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
.caret {
    padding-top: 5px;
    margin-left: 5px;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fec63e;
    padding: 15px 0;
}
.nav ul li {
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-left: 30px;
}

.navbar-nav {
    margin-bottom: 20px;
}
.navbar-default {
    background-color: #fff;
    border: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #265280;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a {
    color: #97C93D;
    display: inline-block!important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0;
    letter-spacing: 
}

.navbar-default .navbar-nav>li>a:hover {  /*cor texto menu HORIZONTAL HOVER*/
    background-color: #265280;
    color: #fff!important;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 100%;
    overflow: hidden;
}
/*collapse lista*/
.fa {
    position: relative;
    right: 11px;
    display: inline-block;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #97C93D;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
/* Buttons */

button.btn-default {
    color: #fff;
    background: #97C93D;
    border-radius: 4px;
    padding: 10px;
    text-transform: uppercase;
    transition: 200ms;
}


.k-button {
    box-shadow: 0 3px 1px -2px #F2DCC2, 0 2px 2px 0 #8C8072, 0 1px 5px 0 #BFAA8F;
    font-weight: 500;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}


.k-button, .k-fieldselector .k-list li.k-item, .k-handle, .k-list-container .k-nodata .k-button, .k-map .k-navigator, .k-numerictextbox .k-select, .k-pivot-toolbar .k-button, .k-spreadsheet-filter, .k-switch-handle, .k-toolbar .k-split-button .k-button {
    color: #fff;
    background: #401801;
    border-color: #D9C3A9;
}
/* hover */
button.btn-default:hover {
    opacity: 1 !important;
    background: #97C93D; 
    color: #FFF !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #97C93D;
}
 .navbar-default .navbar-nav>li>a:focus {
     color: #B8DD74!important;
 } 
/* FIM buttons*/
/*radio buttons*/
.k-radio:checked+.k-radio-label:after {
    background-color: #97c93d;
}
.k-radio:checked+.k-radio-label:before {
    border-color: #DDDADA;
    box-shadow: inset 0 0 1px 0 #fff;
}
.k-radio-label:after {
    background-color: #DDDADA;
}

/*imagem*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #fff;
    max-width: 100%;
    border-radius: 4px;
}
/*FIM IMAGEM*/
/* checkbox KENDO */
.k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: #FFF;
    border-color: #fff;
}
.k-checkbox:checked+.k-checkbox-label:before {
    background-color: #97C93D;
    border-color: #fff;
}
/* k-checked */
.k-checkbox:checked+.k-checkbox-label:after, .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: #B8DD74;
    border-color: #FFF;
}

/* FIM checkbox KENDO */
/* TEXTO */
.main-view h1 {
    color: #265280;
    font-family: 'Play', sans-serif;
}
.main-view h3 {
    color: #012a60;
    font-family: 'Play', sans-serif;
    font-weight: 500;
}

/*table grid*/
.k-grid-content tr:last-child td, .k-grid-content-locked tr:last-child td {
    border-bottom-width: 0;
    width: 128px;
}
/*bola grid*/
.k-pager-wrap .k-state-selected {
    color: #012a60;
    background-color: #B8DD74;
}
.k-pager-wrap a.k-pager-refresh:hover {
    background-color: #265280;
    color: #3f51b5;
}
.k-icon {
    color: #fff;
    width: 1em;
}
/*CUSTOM MATERIAL*/
/*scroll grid*/
.k-grid.k-display-block {
    overflow-x: scroll;
    display: block;
}
.k-grid-header .k-header, .k-grid-header .k-header a.k-link {
    color: white !important;
    width: 128px;
}
/* fim scroll grid */

/*barra grid collor*/
.k-grid-toolbar, .k-grouping-header {
    color: rgba(0,0,0,.87);

}
.k-grid-header .k-header {
    position: relative;
    vertical-align: bottom;
    padding: 12px;
    background-color: #265280;
    color: #9298bb;
}
div.k-grid-header {
    background-color: #265280;
}
.k-pager-wrap a.k-pager-refresh {
    background-color: #97c93d;
    color: #3f51b5;
}
.k-icon {
    color: #bfbcbc;
    width: 1em;
}

/*FIM barra grid collor*/
/*button grid*/
.k-grid-toolbar .k-button {
    color: #fff;
    background: #97C93D;
    border-radius: 4px;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 25px;
    transition: 200ms;
}

.k-button {
    color: #fff;
    background: #97C93D;
    border-color: #D9C3A9;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}
/* nav tab */
.nav-tabs {
    background: #97c93d;
    border-bottom: 1px solid #ddd;
    border-radius: 15px 15px 0px 0px;
}
/*tabela simples*/
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    background: #97c93d;
    color: #fff;
    font-weight: 400;
}
/*fim tabela simples*/
/*ranger slider*/
.k-slider .k-draghandle, .k-switch-on .k-switch-handle {
    color: hsla(0,0%,100%,.87);
    background-color: #265280;
    border-color: #265280;
}
/*Painel*/
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #97c93d;
    border-color: #337ab7;
}

/*fim painel*/
@media screen and (max-width: 600px)  {
.main-view {
    margin-top: 80px;
    padding: 25px;
}
.navbar-nav {
    display: grid;
    text-align: right;
}
.navbar-nav {
    margin: 4.5px -5px;
}
    .navbar-default .navbar-collapse {
        width: 100%;
        position: relative;
        top: 60px;
        left: 15px;
        right: 15px;
        overflow: hidden;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 0 0 0 30px;
    }
    .main-view h3 {
        margin-top: 60px;
    }
/* }
/*media Menu navbar e navbar-default */
@media screen and (max-width: 1023px)  {
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
        width: 100%;
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .main-view {
        margin-top: 30px;
    }

    .navbar-nav>li {
        margin-top: 20px;
        float: right;
    }
}
/*FIM  mediaMenu navbar e navbar-default */