.container-all {
    width: 100%;
    margin: 0 auto;
}
.login-view {
    width: 480px;
    min-height: 100vh;
    display: grid;
    background-color: #fff;
    padding: 25px 30px;
    overflow-y: auto!important;
}

.container-wrap-login {
    width: 100%;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}
.container-form {
    width: 480px;
    height: 100%;
    display: flex;
    background-color: #fff;
    padding: 25px 30px;
    overflow-y: auto!important;
    flex-direction: column;
    justify-content: space-around;
}

.container-slider {
    width: calc(100% - 480px);
    background-repeat: no-repeat!important;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.container-slider::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
}
img.crn-logo--branco {
    position: absolute;
    bottom: 50px;
    left: 50px;
}